<html>
    <div class = "allButFooter">
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <div class="dropdown">
                <button class="dropbtn" onclick="myFunction()">Scholarship
                <i class="fa fa-caret-down"></i>
                </button>
            <div class="dropdown-content" id="myDropdown">
                <a href="/rateyourmusic/">RateYourMusic t-SNE</a>
                <a href="/popularity-prestige/">Popularity-Prestige</a>
                <a href="#">Link 3</a>
            </div>
            </div> 
        </div>
        
        <h1>A Music Genre Bestiary</h1>
        <h2>{{title}}</h2>
        {{content | safe}}

        <script>
        
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(e) {
            if (!e.target.matches('.dropbtn')) {
            var myDropdown = document.getElementById("myDropdown");
                if (myDropdown.classList.contains('show')) {
                    myDropdown.classList.remove('show');
                }
            }
        }
        
    </script>


    </body>
    </div>
    <br /> <br /> <br />   <br />  
    <footer>
    © Price Labs for Digital Humanities, 2025
    </footer>

</html>


